{% extends "layout.html" %}
{% block body_content %}
<div class="form">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		{{ form.job_role.label }}
		{{ form.job_role }}
		<br>
		<br>
		{{ form.positions.label }}
		{{ form.positions }}
		<br>
		<br>
		{{ form.years_of_experience.label }}
		{{ form.years_of_experience }}
		<br>
		<br>
		{{ form.salary.label }}
		{{ form.salary }}
		<br>
		<br>
		{{ form.address.label }}
                {{ form.address }}
		<br>
		<br>
		{{ form.postcode.label }}
                {{ form.postcode }}
		<br>
		<br>
		{{ form.submit }}
	</form>
	
</div>
{% endblock body_content %}
